<html>
    <head>
        <title>locals.title</title>
        <script src="https://kit.fontawesome.com/8abc686f76.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <form action="Enter-data" method="POST">
            <h3>DISCRIPTION</h3>
            <input type="text" name="dis">
            <label>
                <select name="cat" >
                    <option value="Personal">Pesonal</option>
                    <option value="General">General</option>
                </select>
            </label>
            <input type="date" name="date">
            <button type="submit">Submit</button>
        </form>
        <ul>
            <% for(let i of MyList){ %>
            <li><%= i.dis %></li>
            <li><%= i.cat %></li>
            <li><%= i.date %></li>
            <a href="/Delete-data/?id=<%= i._id %>"><i class="fas fa-window-close"></i></a>
            <% } %>
        </ul>
    </body>
</html>