#Main{
    display: flex;
    justify-content: center;
}
.center{
    text-align: center;
}
.set-width{
    width:100%;
}
.inline-block{
    display: inline-block;
}
.remove-dots{
    list-style-type: none;
}
.inline{
    display: inline;
}
.flex{
    display: flex;
    flex-direction: column;
}
.remove-left-margin{
    margin: 0px;
}

.flex-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body{
    color:gray;
}

.Main-width{
    width:35%;
    font-weight: bolder;
}