#Main{
    display: flex;
    justify-content: center;
    background-color: gray;
}
.center{
    text-align: center;
}
.set-width{
    width:100%;
}
.inline-block{
    display: inline-block;
}
.remove-dots{
    list-style-type: none;
}
.inline{
    display: inline;
}
.flex{
    display: flex;
    flex-direction: column;
}
.remove-left-margin{
    margin: 0px;
}

.flex-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body{
    color:gray;
}

.Main-width{
    width:40%;
    font-weight: bolder;
    background-color: white;
    padding: 35px;
}

.remove-border{
    border: white;
}

.remove-border:focus{
    border: whitesmoke;
    border: none;
    outline: none;
}

#form-1{
    width: 100%;
}

.width-50{
    width:50%
}

.width-250{
    width:250%
}

.width-137{
    width:137%
}

#main-last{
    margin-top: 20px;
}

.hover-prop:hover{
    background-color: whitesmoke;
}

.inline{
    display: inline;
}

.fix-width{
    width: 100px;
}

.border-top{
    border-top:1px black solid;
}

.top-gap{
    margin-top: 17px;
}

.up-down-border{
    border-top:1px black solid;
    border-bottom:1px black solid;
}

.border-bottom{
    border-bottom:1px black solid;
}